.code-30 { color: #000000; }
.code-31 { color: #ff0000; }
.code-32 { color: #00ff00; }
.code-33 { color: #ffff00; }
.code-34 { color: #0000ff; }
.code-35 { color: #ff00ff; }
.code-36 { color: #00ffff; }
.code-37 { color: #ffffff; }

.code-40 { background: #000000; }
.code-41 { background: #ff0000; }
.code-42 { background: #00ff00; }
.code-43 { background: #ffff00; }
.code-44 { background: #0000ff; }
.code-45 { background: #ff00ff; }
.code-46 { background: #00ffff; }
.code-47 { background: #ffffff; }

.code-1 { font-weight: bold; }
.code-3 { font-style: italic; }
.code-4 { text-decoration: underline; }
.code-9 { text-decoration: line-through; }
.code-4.code-9 { text-decoration: underline line-through; }
